AquariusDataImporter/Source/Hatfield.AquariusDataImporter/Service References/Aquarius/AQAcquisitionService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aquarius.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aquarius.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DateTimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateTimeRange" nillable="true" type="tns:DateTimeRange" />
</xs:schema>