AquariusDataImporter/Source/Hatfield.AquariusDataImporter/Service References/Aquarius/AQAcquisitionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hf-gtvan-app02.hatcon.local/AQUARIUS/AQAcquisitionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AcquisitionService.Dto.TimeSeriesProcess" />
  <xs:import schemaLocation="http://hf-gtvan-app02.hatcon.local/AQUARIUS/AQAcquisitionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AquariusDataService" />
  <xs:import schemaLocation="http://hf-gtvan-app02.hatcon.local/AQUARIUS/AQAcquisitionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" />
  <xs:import schemaLocation="http://hf-gtvan-app02.hatcon.local/AQUARIUS/AQAcquisitionService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAuthToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encodedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectionValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeepConnectionAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomUpdateTimeSeriesData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeSeriesId" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcquisitionService.Dto.TimeSeriesProcess" minOccurs="0" name="updateGroup" nillable="true" type="q1:CustomUpdateGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomUpdateTimeSeriesDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcquisitionService.Dto.TimeSeriesProcess" minOccurs="0" name="CustomUpdateTimeSeriesDataResult" nillable="true" type="q2:CustomGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesIDResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesID2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentLabel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesID2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesID2Result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:long" />
        <xs:element minOccurs="0" name="parameterType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="GetTimeSeriesListResult" nillable="true" type="q3:ArrayOfTimeSeriesDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesListForLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesListForLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="GetTimeSeriesListForLocationResult" nillable="true" type="q4:ArrayOfTimeSeriesDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationIdentifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocationIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesFromBytes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="csvbytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesFromBytesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppendTimeSeriesFromBytesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesFromBytes2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="csvbytes" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesFromBytes2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="AppendTimeSeriesFromBytes2Result" nillable="true" type="q5:AppendResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTimeSeriesResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeries2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentId" type="xs:long" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utcOffsetInMinutes" type="xs:int" />
        <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxGaps" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeries2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTimeSeries2Result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendAndMerge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameterMap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendAndMergeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppendAndMergeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoAppend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appendToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoAppendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UndoAppendResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aqDataId" type="xs:long" />
        <xs:element minOccurs="0" name="viewName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="asOfTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeSeriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeSeriesPointsByTimeRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeSeriesPointsByTimeRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTimeSeriesPointsByTimeRangeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeSeriesId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeSeriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="GetFieldVisitsByLocationResult" nillable="true" type="q6:ArrayOfFieldVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocationAndDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:long" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocationAndDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="GetFieldVisitsByLocationAndDateResult" nillable="true" type="q7:ArrayOfFieldVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocationChangedSince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:long" />
        <xs:element minOccurs="0" name="changedSince" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldVisitsByLocationChangedSinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="GetFieldVisitsByLocationChangedSinceResult" nillable="true" type="q8:ArrayOfFieldVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFieldVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="fv" nillable="true" type="q9:FieldVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFieldVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AQAcquisitionService.Dto" minOccurs="0" name="SaveFieldVisitResult" nillable="true" type="q10:FieldVisit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateFieldVisitTimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locationIds" nillable="true" type="q11:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateFieldVisitTimeSeriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="GetAllLocationsResult" nillable="true" type="q12:ArrayOfLocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="GetLocationResult" nillable="true" type="q13:LocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="location" nillable="true" type="q14:LocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLocationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="location" nillable="true" type="q15:LocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>